@import url('general-sans.css');

/* Grid */
.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .time { grid-area: 1 / 1 / 2 / 2; }
  .date { grid-area: 1 / 2 / 2 / 3; }
  .weather { grid-area: 2 / 1 / 3 / 3; }

/* Widgets */
section {
  background: rgb(255, 206, 121, 0.75);
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

h1 {
  font-family: 'GeneralSans-Semibold';
  font-size: 4em;
}

data{
  font-family: 'GeneralSans-Regular';
  font-size: 2em;
}

/* Time */
.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
